<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.css"
        integrity="sha384-wcIxkf4k558AjM3Yz3BBFQUbk/zgIYC2R0QpeeYb+TwlBVMrlgLqwRjRtGZiK7ww" crossorigin="anonymous" />
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/katex.min.js"
        integrity="sha384-hIoBPJpTUs74ddyc4bFZSM1TVlQDA60VBbJS0oA934VSz82sBx1X7kSx2ATBDIyd"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.10/dist/contrib/auto-render.min.js"
        integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk"
        crossorigin="anonymous"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Copied from stekhn https://stackoverflow.com/a/57273404
            // using license CC BY-SA 4.0 https://creativecommons.org/licenses/by-sa/4.0/

            const elements = document.querySelectorAll('.math');
            const observer = new IntersectionObserver(handleIntersection);

            elements.forEach((obs) => {
                observer.observe(obs);
            });

            function handleIntersection(entries, observer) {
                entries.forEach((entry) => {
                    if (entry.intersectionRatio > 0) {
                        katex.render(entry.target.textContent, entry.target);
                        observer.unobserve(entry.target);
                    }
                });
            }
        });
    </script>

    <style>
        body {
            font: 1.2rem KaTeX_Main;
        }

        .math {
            font-size: 1rem;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <td>Order</td>
            <td>Count</td>
            <td>Maximum <span class="math inline">\lambda_1</span></td>
            <td>Minimum <span class="math inline">\lambda_1</span></td>
            <td>Maximum <span class="math inline">\lambda_n</span></td>
            <td>Minimum <span class="math inline">\lambda_n</span></td>
            <td>Minimum Rank</td>
        </tr>
        {% for item in summary %}
        <tr>
            <td>{{ item.order }}</td>
            <td>{{ item.count }}</td>
            <td>{{ item.max_max_lambda }} {{ item.max_max_lambda_graphs }}</td>
            <td>{{ item.min_max_lambda }} {{ item.min_max_lambda_graphs }}</td>
            <td>{{ item.max_min_lambda }} {{ item.max_min_lambda_graphs }}</td>
            <td>{{ item.min_min_lambda }} {{ item.min_min_lambda_graphs }}</td>
            <td>{{ item.min_rank }} {{ item.min_rank_graphs }}</td>
        </tr>
        {% endfor %}
    </table>

    NOTE: The smallest 200 graphs are rendered. Then any others referenced in
    the table above are rendered at the bottom. <br />

    WARNING: I coded up a numerical method to check for the largest/smallest
    eigenvalue even when the characteristic polynomial is not solvable. It
    should not underestimate but can sometime overestimate (i.e., stated max is
    larger or min is less than actual). It would be best to check manually to
    ensure they are correct. <br />

    <table>
        {% for item in list %}
        <tr>
            <td style="text-align: center">
                <img src="{{ item.fname }}" loading="lazy" />
            </td>
            <td style="vertical-align: middle">
                <h4>Graph #{{ item.id }}</h4>
                Characteristic polynomial:
                <span class="math inline">{{ item.charpoly }}</span><br />
                Spectrum: <span class="math inline">{{ item.spec }}</span><br />
                Maximum Eigenvalue:
                <span class="math inline">{{ item.max_lambda if item.max_lambda else '?' }}</span><br />
                Minimum Eigenvalue:
                <span class="math inline">{{ item.min_lambda if item.min_lambda else '?' }}</span>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>
